In [226]:
import json
import pandas as pd
import numpy as np
from pprint import pprint

In [206]:
data=json.load(open('purchase_data.json'))

In [207]:
dataframe=pd.DataFrame(data)
dataframe.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [406]:
#Player Count
players=[]
for i in dataframe['SN']:
    if i not in players:
        players.append(i)
TotalNumber=len(players)
d={'Total Players':[TotalNumber]}
pd.DataFrame(data=d)

   Total Players
0            573

In [404]:
#Unique Items
UniqueItems=[]
for i in dataframe['Item ID']:
    if i not in UniqueItems:
        UniqueItems.append(i)
NumUniqueItems=len(UniqueItems)
NumUniqueItems

183

In [22]:
#Average Purchase Price
AvgPurchasePrice='${:,.2f}'.format(sum(dataframe['Price'])/len(dataframe))
AvgPurchasePrice

'$2.93'

In [19]:
#Total Number of Purchases
NumPurchase=len(dataframe)
NumPurchase

780

In [21]:
#Total Revenue
Revenue='${:,.2f}'.format(sum(dataframe['Price']))
Revenue

'$2,286.33'

In [222]:
#Purchasing Analysis (Total)
d={'Number of Unique Items':[NumUniqueItems],'Average Price':[AvgPurchasePrice],'Number of Purchases':[NumPurchase],'Total Revenue': Revenue}
e=pd.DataFrame(d)
cols=['Number of Unique Items','Average Price','Number of Purchases','Total Revenue']
e=e[cols]
e.style

In [27]:
#Total Number of Men
genders=[]
players=[]
for i in range(len(dataframe['SN'])):
    if dataframe['SN'][i] not in players:
        genders.append(dataframe['Gender'][i])
        players.append(dataframe['SN'][i])
NumMen=genders.count('Male')
NumMen

465

In [29]:
#Percentage of Men
PercentMen=NumMen/TotalNumber
PercentMen

0.8115183246073299

In [33]:
#Total Number of Females
NumFem=genders.count('Female')

#Percentage of Female
PercentFem=NumFem/TotalNumber
print(NumFem,PercentFem)

100 0.17452006980802792

In [35]:
#Total Number of Other/Non-Disclosed
NumOther=TotalNumber-NumFem-NumMen

#Percentage of Other
PercentOther=NumOther/TotalNumber
print(NumOther,PercentOther)

8 0.013961605584642234

In [261]:
#Gender Demographics
d={'Percentage of Players':['{:,.2f}%'.format(PercentMen*100),'{:,.2f}%'.format(PercentFem*100),'{:,.2f}%'.format(PercentOther*100)],'Total Count':[NumMen,NumFem,NumOther]}
e=pd.DataFrame(data=d)
e=e.rename({0:'Male',1:'Female',2:'Other / Non-Disclosed'})
e

                      Percentage of Players  Total Count
Male                                 81.15%          465
Female                               17.45%          100
Other / Non-Disclosed                 1.40%            8

In [48]:
mix=dict(zip(players,genders))
#list of each gender
females=[]
males=[]
other=[]
for i in mix.keys():
    if mix[i]=="Female":
        females.append(i)
    elif mix[i]=="Male":
        males.append(i)
    else:
        other.append(i)
other

['Assassa38',
 'Frichistasta59',
 'Tyaerith73',
 'Aillycal84',
 'Faralcil63',
 'Eurisuru25',
 'Aithelis62',
 'Euna48']

In [64]:
#Index Counts of Purchases For Each Gender
malepurchases=[]
femalepurchases=[]
otherpurchases=[]
for i in range(len(dataframe)):
    if dataframe['Gender'][i]=="Male":
        malepurchases.append(i)
    elif dataframe['Gender'][i]=="Female":
        femalepurchases.append(i)
    else:
        otherpurchases.append(i)

In [65]:
#Purchase Counts For Each Gender
NumMalePurch=len(malepurchases)
NumFemPurch=len(femalepurchases)
NumOthPurch=len(otherpurchases)

In [235]:
#Total Price of Purchases By Gender
malesum=0
for i in malepurchases:
    malesum=malesum+dataframe.iloc[i]['Price']
femalesum=0
for i in femalepurchases:
    femalesum=femalesum+dataframe.iloc[i]['Price']
othersum=0
for i in otherpurchases:
    othersum=othersum+dataframe.iloc[i]['Price']
malesums='${:,.2f}'.format(malesum)
femalesums='${:,.2f}'.format(femalesum)
othersums='${:,.2f}'.format(othersum)
print(malesum,femalesum,othersum)

1867.68 382.91 35.74

In [236]:
#Average Price of Purchases By Gender
maleavg=(malesum/NumMalePurch)
femavg=(femalesum/NumFemPurch)
othavg=(othersum/NumOthPurch)
maleavgs='${:,.2f}'.format(maleavg)
femavgs='${:,.2f}'.format(femavg)
othavgs='${:,.2f}'.format(othavg)
print(maleavg,femavg,othavg)

2.95052132701 2.81551470588 3.24909090909

In [78]:
#Normalized Totals
normmale=NumMalePurch/NumPurchase
normfem=NumFemPurch/NumPurchase
normother=NumOthPurch/NumPurchase
print(normmale,normfem,normother)

0.8115384615384615 0.17435897435897435 0.014102564102564103

In [251]:
#Puchasing Analysis (Gender)
d={'Purchase Count':['',NumFemPurch,NumMalePurch,NumOthPurch],"Average Purchase Price":['',femavgs,maleavgs,othavgs],'Total Purchase Value':['',femalesums,malesums,othersums],'Normalized Totals':['',normfem,normmale,normother]}
e=pd.DataFrame(data=d)
e=e.rename({0:'Gender',1:'Female',2:'Male',3:'Other'})
cols=['Purchase Count','Average Purchase Price','Total Purchase Value',"Normalized Totals"]
e=e[cols]
e

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,136,$2.82,$382.91,0.174359
Male,633,$2.95,"$1,867.68",0.811538
Other,11,$3.25,$35.74,0.0141026

In [271]:
#Age Demographics
kidsn=[]
tweensn=[]
teensn=[]
oldersn=[]
for i in range(len(dataframe)):
    if dataframe['Age'][i]<10 and dataframe['SN'][i] not in kidsn:
            kidsn.append(dataframe['SN'][i])
    elif dataframe['Age'][i]<=14 and dataframe['Age'][i]>=10 and  dataframe['SN'][i] not in tweensn:
            tweensn.append(dataframe['SN'][i])
    elif dataframe['Age'][i]<=19 and dataframe['Age'][i]>14 and dataframe['SN'][i] not in teensn:
            teensn.append(dataframe['SN'][i])
    elif dataframe['Age'][i]>19 and dataframe['SN'][i] not in oldersn:
            oldersn.append(dataframe['SN'][i])
numkid=len(kidsn)
numtween=len(tweensn)
numteen=len(teensn)
numold=len(oldersn)
perkid=numkid/TotalNumber
pertween=numtween/TotalNumber
perteen=numteen/TotalNumber
perold=numold/TotalNumber
d={'Percentage of Players':['{:,.2f}%'.format(perkid*100),'{:,.2f}%'.format(pertween*100),'{:,.2f}%'.format(perteen*100),'{:,.2f}%'.format(perold*100)],'Total Count':[numkid,numtween,numteen,numold]}
e=pd.DataFrame(data=d)
e=e.rename({0:'<10',1:'10-14',2:'15-19',3:'20+'})
e

      Percentage of Players  Total Count
<10                   3.32%           19
10-14                 4.01%           23
15-19                17.45%          100
20+                  75.22%          431

In [81]:
#Index Counts of Purchases For Each Age Group
kids=[]
tweens=[]
teens=[]
older=[]
for i in range(len(dataframe)):
    if dataframe['Age'][i]<10:
        kids.append(i)
    elif dataframe['Age'][i]<14:
        tweens.append(i)
    elif dataframe['Age'][i]<19:
        teens.append(i)
    else:
        older.append(i)

In [83]:
#Purchase Counts by Age

NumKids=len(kids)
NumTween=len(tweens)
NumTeen=len(teens)
NumOld=len(older)

28 29 117 606

In [85]:
#Total Purchase Value By Age
kidsum=0
tweensum=0
teensum=0
oldsum=0
for i in kids:
    kidsum=kidsum+dataframe.iloc[i]['Price']
for i in tweens:
    tweensum=tweensum+dataframe.iloc[i]['Price']
for i in teens:
    teensum=teensum+dataframe.iloc[i]['Price']
for i in older:
    oldsum=oldsum+dataframe.iloc[i]['Price']
print(kidsum,tweensum,teensum,oldsum)

83.46 82.65 333.62 1786.6

In [86]:
#Average Purchase Value By Age
kidavg=kidsum/NumKids
tweenavg=tweensum/NumTween
teenavg=teensum/NumTeen
oldavg=oldsum/NumOld
print(kidavg,tweenavg,teenavg,oldavg)

2.98071428571 2.85 2.85145299145 2.94818481848

In [87]:
#Normalized Total
normkid=NumKids/NumPurchase
normtween=NumTween/NumPurchase
normteen=NumTeen/NumPurchase
normold=NumOld/NumPurchase
print(normkid,normtween,normteen,normold)

0.035897435897435895 0.03717948717948718 0.15 0.7769230769230769

In [279]:
#Purchasing Analysis (Age)
d={'Purchase Count':[NumKids,NumTween,NumTeen,NumOld],'Average Purchase Price':[kidavg,tweenavg,teenavg,oldavg],'Total Purchase Value':[kidsum,tweensum,teensum,oldsum],"Normalized Totals":[normkid,normtween,normteen,normold]}
e=pd.DataFrame(data=d)
col=['Purchase Count','Average Purchase Price','Total Purchase Value','Normalized Totals']
e=e[col]
e['Average Purchase Price']=pd.Series(["${0:.2f}".format(val) for val in e['Average Purchase Price']])
e['Total Purchase Value']=pd.Series(["${0:.2f}".format(val) for val in e['Total Purchase Value']])
e=e.rename({0:'<10',1:'10-14',2:'15-19',3:'20+'})
e

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
<10,28,$2.98,$83.46,0.035897
10-14,29,$2.85,$82.65,0.037179
15-19,117,$2.85,$333.62,0.150000
20+,606,$2.95,$1786.60,0.776923

In [314]:
#Highest 5 Spenders SN
new=dataframe.groupby(['SN'])['Price'].sum()
spenders=pd.DataFrame(new.nlargest(5,'first'))
names=[spenders.index[i] for i in range(5)]

In [339]:
#Purchase Count of 5 Spenders
firstcount=0
secondcount=0
thirdcount=0
fourthcount=0
fifthcount=0
for i in range(len(dataframe)):
    if dataframe['SN'][i]==names[0]:
        firstcount+=1
    elif dataframe['SN'][i]==names[1]:
        secondcount+=1
    elif dataframe['SN'][i]==names[2]:
        thirdcount+=1
    elif dataframe['SN'][i]==names[3]:
        fourthcount+=1
    elif dataframe['SN'][i]==names[4]:
        fifthcount+=1
print(firstcount,secondcount,thirdcount,fourthcount,fifthcount)
o=[firstcount,secondcount,thirdcount,fourthcount,fifthcount]
o

5 4 4 3 3

[5, 4, 4, 3, 3]

In [306]:
#Total Purchase Price
totals=spenders.Price
totals=[float(spenders.Price[i]) for i in range(5)]
totals

[17.06, 13.56, 12.739999999999998, 12.73, 11.58]

In [317]:
#Average Purchase Price
avgfirst=totals[0]/firstcount
avgsecond=totals[1]/secondcount
avgthird=totals[2]/thirdcount
avgfourth=totals[3]/fourthcount
avgfifth=totals[4]/fifthcount

In [348]:
#Top Spenders
d={'Purchase Count':['',firstcount,secondcount,thirdcount,fourthcount,fifthcount],'Average Purchase Price':['',"${0:.2f}".format(avgfirst),"${0:.2f}".format(avgsecond),"${0:.2f}".format(avgthird),"${0:.2f}".format(avgfourth),"${0:.2f}".format(avgfifth)],'Total Purchase Value':['',"${0:.2f}".format(totals[0]),"${0:.2f}".format(totals[1]),"${0:.2f}".format(totals[2]),"${0:.2f}".format(totals[3]),"${0:.2f}".format(totals[4])]}
e=pd.DataFrame(data=d)
cols=['Purchase Count','Average Purchase Price','Total Purchase Value']
e=e[cols]
e=e.rename({0:'SN',1:names[0],2:names[1],3:names[2],4:names[3],5:names[4]})
e

            Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66              5                  $3.41               $17.06
Saedue76                 4                  $3.39               $13.56
Mindimnya67              4                  $3.18               $12.74
Haellysu29               3                  $4.24               $12.73
Eoda93                   3                  $3.86               $11.58

In [382]:
#Most Popular 5 Items
mostpopular=dataframe.groupby(['Item ID']).count()
largest=mostpopular.nlargest(5,'Price',keep='first')
ids=[largest.index[i] for i in range(5)]
count=[largest.Age[i] for i in ids]

In [372]:
#Most Popular 5 Items Prices and Names
itemsnameid={}
itemprice={}
for i in range(len(dataframe['Item ID'])):
    if i not in itemsnameid.keys():
        itemsnameid[dataframe['Item ID'][i]]=dataframe['Item Name'][i]
for i in range(len(dataframe['Item ID'])):
    if i not in itemprice.keys():
        itemprice[dataframe['Item ID'][i]]=float(dataframe['Price'][i])
itemprices=[itemprice[i] for i in ids]
itemprices

[2.35, 2.23, 1.49, 2.07, 4.14]

In [381]:
#Most Popular Items
d={'Item ID':ids,'Item Name':[itemsnameid[i] for i in ids],'Purchase Count':count,'Item Price':itemprices,'Total Purchase Value':[float(itemprices[i]*count[i]) for i in range(5)]}
e=pd.DataFrame(data=d)
cols=['Item ID','Item Name', 'Purchase Count','Item Price','Total Purchase Value']
e=e[cols]
e.set_index(['Item ID','Item Name'])

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
84,Arcane Gem,11,2.23,24.53
13,Serenity,9,1.49,13.41
31,Trickster,9,2.07,18.63
34,Retribution Axe,9,4.14,37.26

In [398]:
#Most Profitable Items
new=dataframe.groupby(['Item ID'])['Price'].sum()
profitable=pd.DataFrame(new.nlargest(5,'first'))
ids=[profitable.index[i] for i in range(5)]
names=[itemsnameid[i] for i in ids]
prices=[profitable.Price[i] for i in ids]
count=[mostpopular.Age[i] for i in ids]
totalvalue=[float(count[i]*prices[i]) for i in range(5)]
prices

[37.259999999999998,
 29.75,
 29.699999999999999,
 29.220000000000002,
 28.879999999999999]

In [402]:
d={'Item ID':ids,'Item Name':names,'Purchase Count':count,'Item Price':["${0:.2f}".format(prices[i]) for i in range(5)],'Total Purchase Value':["${0:.2f}".format(totalvalue[i]) for i in range(5)]}
e=pd.DataFrame(data=d)
cols=['Item ID','Item Name', 'Purchase Count','Item Price','Total Purchase Value']
e=e[cols]
e.set_index(['Item ID','Item Name'])

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,$37.26,$335.34
115,Spectral Diamond Doomblade,7,$29.75,$208.25
32,Orenmir,6,$29.70,$178.20
103,Singed Scalpel,6,$29.22,$175.32
107,"Splitter, Foe Of Subtlety",8,$28.88,$231.04